/* You can add global styles to this file, and also import other style files */

*,
.navbar {
  padding: 0;
  margin: 0;
}

.jumbotron {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  padding: 20px;
  left: 0;
  top: 0;

}

.contenido {
  position: absolute;
  height: 450px;
  width: 500px;
  right: 250%;
  top: 40%;
  overflow: visible;
  -webkit-animation: moveit 2s;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 2s;
  /* Safari 4.0 - 8.0 */
  animation: moveit 2s forwards;
  animation-delay: 2s;
  z-index: 1000;
  text-align: left;
}
.contenido h3{
  color: white;
}
.hide {
  visibility: none;
}

.jj {
  background: blue;
}


.move {
  position: relative;
  left: -250%;
  width: 500px;
  -webkit-animation: mymove 2s;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 2s;
  /* Safari 4.0 - 8.0 */
  animation: mymove 2s forwards;
  animation-delay: 2s;
}

.logo {
  bottom: 30%;
}



/* Safari 4.0 - 8.0 */

@-webkit-keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 200px;
  }
}

@keyframes mymove {
  from {
    left: -250%;
    opacity: 0
  }
  to {
    left: 15%;
    opacity: 1
  }
}

@-webkit-keyframes moveit {
  from {
    left: 0px;
  }
  to {
    left: 200px;
  }
}

@keyframes moveit {
  from {
    right: -250%;
    opacity: 0
  }
  to {
    right: 15%;
    opacity: 1
  }
}

.content p {
  width: 500px;
}


.button_slide {

  text-align: center;
  color: #FFF;
  border: 2px solid #fff;
  border-radius: 6px;
  padding: 10px;
  margin-top: 50%;
  opacity: 0;
  width: 300px;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  float: left;
  box-shadow: inset 0 0 0 0 #0f363fAA;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_right:hover {

  box-shadow: inset 400px 0 0 0 #0f363fAA;
}

.up {
  position: relative;
  margin-top: 50%;
  -webkit-animation: aa 2s;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 2s;
  /* Safari 4.0 - 8.0 */
  animation: aa 2s forwards;
  animation-delay: 5s;
}



/* Safari 4.0 - 8.0 */

@-webkit-keyframes aa {
  from {
    margin-top: 50%;
    opacity: 0
  }
  to {
    margin-top: 1%;
    opacity: 1
  }
}

@keyframes aa {
  from {
    margin-top: 50%;
    opacity: 0
  }
  to {
    margin-top: 1%;
    opacity: 1
  }
}

.logoss {
  width: 100px;
      margin-top: 10px;
}

.nav {
  height: 100px;
  color: white;
}


.div-one {
  background: red;
  -webkit-clip-path: polygon(75% 50%, 100% 0, 100% 100%, 50% 100%);
  clip-path: polygon(75% 50%, 100% 0, 100% 100%, 50% 100%);
  width: 100vw;
  height: 100vh;
  background: url('../assets/imagenes_estudiantes/2018-1.jpg');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  cursor: pointer;
}



.div-three {
  background: url('../assets/imagenes_estudiantes/carvafondo.jpg');
  width: 100vw;
  height: 100vh;

  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.div-two {
  -webkit-clip-path: polygon(0 0, 25% 50%, 50% 100%, 0% 100%);
  clip-path: polygon(0 0, 25% 50%, 50% 100%, 0% 100%);
  background: url('../assets/imagenes_estudiantes/6.jpg');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ggg>div {
  position: absolute;
  transition: all .5s ease-in-out;
}

.nav>li>a {
  color: white;
  transition: all .5s ease-in-out;
}

.nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
  color: #46A1DAFF;
}

.nav>li>a:focus {
  text-decoration: none;
  background-color: transparent;
  color: #58A5E2FF;
}

.inscribete {
  background-color: #4D6391;
}

.inscribete:hover {
  background-color: black;
}

.send {
            background: #4D6391;
  color: black;
  border-radius: 5px;
  border: 3px solid white;
  transition: all .5s ease-in-out;
  text-align: center;
  width: 400px;
  position: absolute;
  bottom: 10%;
}

.left {
  left: 20%;
}

.right {
  right: 20%;
}

a .send h1 {
  color: white;
  font-size: 30px;
}

a:hover .send {
  text-decoration: none;
}

a:focus .send {
  text-decoration: none;
}

.send:hover {
  background: #FFAD34FF;
  color: white;
  cursor: pointer;
}



.jumbotron {
  background: url('/assets/imagenes_estudiantes/6.jpg');
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.ggg {
  background: url('/assets/imagenes_estudiantes/2018-1.jpg');
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}


.fondo {
  width: 100%;
  height: 100%;
  background-color: #042a61b5;
}

.lenteja {
  width: 800px;
  padding: 10px;
  margin-top: 50px;
  overflow: visible;
}


.lenteja>ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lenteja>ul>li {
  position: relative;
  list-style: none;
  margin: 10px;
  width: 140px;
  height: 180px;
  background: #FAC69834;
  text-align: center;
  text-transform: uppercase;
  transform: scale3d(1, 1, 1) skewX(-10deg);
  overflow: hidden;
  filter: drop-shadow(0 1px 4px rgba(10, 2, 12, 0.2));
  transition: 300ms 10ms ease;
}

.lenteja ul li h1 {
  text-transform: uppercase;
}

.lenteja>ul>li:hover {
  transform: scale3d(1.1, 1.1, 1) skewX(-10deg);
  z-index: 1;
  border: 2px solid #FFB944FF;
}

ul li img {
  width: 180px;
  position: absolute;
  top: 0px;
  right: -20px;
  transform: translateZ(0) skewX(10deg);
}

.temp li img {
  width: 180px;
  position: absolute;
  bottom: -30px;
  right: -20px;
  transform: translateZ(0) skewX(10deg);
}

.hero-info {
  position: absolute;
  bottom: 0;
  color: #4D6391;
  width: 100%;
  background: #fff;
}

.hero-info>p {
  font-style: normal;
}

#images {
  text-align: center;
}

.selected {
  height: 100vh;
  position: absolute;
  width: 33%;
  right: 0;
  opacity: 0;
  bottom: 0;
}
video{
  top: 0;
}
.imagen {
  margin-top: 100px;
  max-width: 100%;
  max-height: 400px;
}

.añadir {
  -webkit-animation: animate 0.8s;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0.8s;
  /* Safari 4.0 - 8.0 */
  animation: animate 0.8s forwards;
}

.espera {
  transition-delay: 0.8s;
}

.info {
     margin-top: 10px;
    margin-right: 50px;
    float: left;
    color: white;
    width: 300px;
}
.info h3{
  color: #f0ad4e;
  font-size: 20px;
  margin-top: 5px;
}

.info h2{
  color: white;
  font-size: 26px;
  margin-top: 0;
}
#info_usuario {
  display: none;
}




/* Safari 4.0 - 8.0 */

@-webkit-keyframes animate {
  from {
    right: -100%;
    opacity: 0
  }
  to {
    right: 0;
    opacity: 1
  }
}

@keyframes animate {
  from {
    right: -100%;
    opacity: 0
  }
  to {
    right: 0;
    opacity: 1
  }
}

.blanc {
  width: 100%;
  height: 10px;
  background-color: white;
  position: absolute;
  float: right;
  right: 0;
}

.ızgara {
  /*  As of August 2012, only supported in Chrome 21+ */
  display: -webkit-flex;
  display: flex;
  height: 100vh;
  background: #788B8DFF;
}

.kolon {

  background: #171717;
  width: 35%;
  /* border: 10px solid #fff; */
  height: 100%;
  color: #fff;
  overflow: hidden;
  transition: all .6s ease;
}

.kolon:nth-child(even) {
  background: #171717;
}

.kolon:hover {
  width: 100%;
  transition-delay: 0.5s;
}

.kolon p,
.kolon li {
  margin-top: 50%;
  opacity: 0;
  transition: all 1s ease;
  transition-delay: 0s;
  font-size: 1.5vw;
}

.kolon:hover p,
.kolon:hover li {
  position: relative;
  margin-top: 1%;
  opacity: 1;
  transition-delay: 0.7s;
}

.active {
  opacity: 1;
}

.inactive {
  opacity: 0.7;
}

.jumbotron {
  padding: 0;
}

.coso {

  padding: 50px;
  padding-top: 300px;

  margin: auto auto;
  overflow: visible;
}

.coso:hover {}

.opac {
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(255, 187, 66, .3);
  /* Green background with 30% opacity */
  transition: all .6s ease;
}

.kolon:hover .opac {
  background: rgba(255, 187, 66, 0.7);
  /* Green background with 30% opacity */
}

.opac1 {
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(0, 149, 251, .3);
  /* Green background with 30% opacity */
  transition: all .6s ease;
}

.kolon:hover .opac1 {
  background: rgba(0, 149, 251, 0.7);
  /* Green background with 30% opacity */
}

.opac2 {
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(161, 59, 203, .3);
  /* Green background with 30% opacity */
  transition: all .6s ease;
}

.kolon:hover .opac2 {
  background: rgba(161, 59, 203, 0.7);
  /* Green background with 30% opacity */
}

.highlight {
  font-size: 4vw;
  transition: all 1s ease;
  color: white;

}
#portfolio h1{
  text-align: left;
}

/* Code that does the work 
*/

.expand {
  z-index: 1;

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.expand:after {
  z-index: 1;
}

.conten {
  color: white;
  z-index: 2;
}

.jumbotron {
  margin: 0;
  padding: 0;
}

.opc {
  background-color: #0E78C47F;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  transition: all .5s ease-in-out;
  color: white;
}

.div a {
  color: white;
}

.div {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.div-two .div {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
}

.div-one .div {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100px;
}

.dir{
  margin-top: 100px;
}
.div-one:hover .opc {
  background-color: #0E78C47F;
}

.div-two:hover .opc {
  background-color: #0E78C47F;
}

.directivo {
  width: 33%;

  height: 410px;
  overflow: hidden;
  border: 2px solid white;
  margin: 10px;
  transition: 300ms 10ms ease;
}

.directivo:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}

.dir_img {
  width: 100%;
  height: 300px;
  border: 2px solid white;
}

.directivo img {
  height: 100%;
}

.directivo h1 {
  font-size: 27px;
  padding: 5px;
}

.directivo h3 {
  font-size: 16px;
  margin-top: -10px;
}

.cont_dir {
  padding: 10px;
  padding-top: 40px;
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  text-align: center;
}

.cote {
  margin-top: -20px;
}

.esc {
  color: #FFBC4DFF;
}


.jumbotron{
  padding: 0;
}

.jumbotron h1{
  color: white;
}
.opaciti{
  width: 100%;
  position: absolute;
  height: 100%;
  background: #142433A2;
}

#contact {
  width: 100%;
  height: 100vh;
  background: url('../assets/fondos/4.jpg');
  overflow: hidden;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;

}

#contact form{
  width: 600px;
  color: white;
}
#contact form select option{
  color: white;
  background: #4D6391;

}

#contact form select{
  width: 100%;
  background-color: transparent;
  color: white;
   border: 1px solid white;
   font-size: 14px;
 height: 35px;
       transition: all .5s ease-in-out;
margin-bottom: 5px;
padding:8px;

}
#contact form input{
  width: 100%;
  background: transparent;
  border-radius: 5px;
    border: 1px solid white;
  color: white;
margin-top: 10px;
font-size: 16px;
padding: 8px;
margin-bottom: 5px;
}

#contact form .send{
    background: #4D6391;
  color:white;
  border: 0 solid transparent;
      transition: all .5s ease-in-out;
  position: relative;

}


#contact form .send:hover{
  background: white;
color: #4D6391;

}

.cosa{
 
    width: 600px;
    position: absolute;
    margin-left: 50px;
    margin-top: 250px;
}

}

.cosa h1{
  font-size: 40px;
}


@media (max-width: 1100px) {
  .contenido {
    bottom: 0;
    height: 300px;
    width: 200px;
    right: 250%;
    overflow: visible;
    -webkit-animation: moveit 2s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 2s;
    /* Safari 4.0 - 8.0 */
    animation: moveit 2s forwards;
    animation-delay: 2s;
  }
  .contenido h3 {
    font-size: 13px;
  }
  .button_slide {

    padding: 5px;
    margin-top: 50%;
    width: 180px;
  }
  .navbar-header {
    float: none;
  }

  .nav {
    height: auto;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
    background-color: #545454;
  }

  .directivo {
    width: 33%;

    height: auto;
    margin: 5px;
    transition: 300ms 10ms ease;
    border: 1px solid white;
  }

  .directivo img {
    height: 100%;
  }

  .dir_img {
    width: 100%;
    height: 100px;
    border: 1px solid white;
  }

  .directivo h1 {
    font-size: 18px;
    padding: 5px;
  }
  .directivo h3 {
    font-size: 13px;
    margin-top: -10px;
    font-weight: 200;
  }
  .cote {
    margin-top: -10px;
  }

  .send {
    width: 33%;
        border: 1px solid white;
  }

  a .send h1 {
  color: white;
  font-size: 20px;
  text-align: center center;
}

  .left {
  left: 5%;
}

.right {
  right: 5%;
}
.esc{
    margin-top: 50px;

}
.coso {
  padding: 10px;
  padding-top: 300px;
}

.kolon p, .kolon li{
      font-size: 14px;

}

#contact form {
    width: 100%;
}
.cosa{
  left: 0;
  padding: 35px;
  width: 100%;
  height: auto;
      margin-left: 0;
    margin-top: 250px;
}


}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  color: #4D6391;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle {
  background-color: transparent;
  border-color: white;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: #4D6391;
}

.navbar {
  background-color: transparent;
}

.navbar-inverse {
  background-image: none;
  background: transparent;
  border-color: transparent;
}


#nav-wrap{
  height: 60px;
}


